{% extends "base.html" %}
{% block content %}
{%load static %}

<div class="container mt-4">
    <h1 class="text-center">Acerca de EcoNova Tech</h1>
    <div class="text-center">
        <img src="{% static 'logo.png' %}" alt="Logo de EcoNova Tech" style="max-width: 200px;">
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nuestra Misión</h5>
            <p class="card-text">
                En EcoNova Tech, nos dedicamos a ofrecer soluciones tecnológicas innovadoras y sostenibles 
                para satisfacer las necesidades de nuestros clientes. Nuestro objetivo es proporcionar 
                productos de alta calidad que sean respetuosos con el medio ambiente.
            </p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Nuestro Equipo</h5>
            <p class="card-text">
                Contamos con un equipo de profesionales altamente capacitados y apasionados por la tecnología. 
                Desde desarrolladores hasta expertos en hardware, todos trabajamos juntos para ofrecer 
                la mejor experiencia a nuestros clientes.
            </p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Nuestra Historia</h5>
            <p class="card-text">
                EcoNova Tech fue fundada en 2023 con la visión de revolucionar la industria tecnológica 
                mediante soluciones sostenibles. Desde entonces, hemos crecido y nos hemos convertido 
                en un referente en el mercado.
            </p>
        </div>
    </div>
</div>
{% endblock %}
